<!DOCTYPE html>
<html lang="en">
<head>
    <% include layout/head.ejs %>
</head>
<body>
<% include layout/header.ejs %>
<div class="container">
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <% if (error.stack) {%>
    <pre><%= error.stack %></pre>
    <% } %>
    <pre><%= extended_message %></pre>
</div>

<footer>
    <% include layout/footer.ejs %>
</footer>

</body>
</html>
