<!DOCTYPE html>
<html lang="en">
<head>
    <% include layout/head.ejs %>
</head>
<body>
<% include layout/header.ejs %>
<div class="container">
    <input id="search" type="text" class="form-control" value="iron">
    <table class="sortable-theme-bootstrap" data-sortable id="table">
        <thead>
            <tr>
                <th>Icon</th>
                <th>Type</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        <tr>
        </tr>
        </tbody>
    </table>
</div>
<script src="/js/table.js"></script>

<footer>
    <% include layout/footer.ejs %>
</footer>

</body>
</html>
