<!DOCTYPE html>
<html lang="en">
<head>
    <% include layout/head.ejs %>
</head>
<body>
<% include layout/header.ejs %>
<div class="container">
    <h2><%= title %></h2>

    <h3>Recipes</h3>
    <table class="table" id="table">
        <thead>
        <tr>
            <th>Icon</th>
            <th>Category</th>
            <th>Name</th>
            <th>Ingredients</th>
            <th>Result</th>
            <th>Unlocked By</th>
        </tr>
        </thead>
        <tbody>
    <% for (var idx = 0; idx < recipes.length; idx++) {
        var r = recipes[idx];
    %>
    <% include partials/recipe.ejs %>
    <% } %>
        </tbody>
    </table>

    <h3>Used in</h3>
    <table class="table" id="table">
        <thead>
        <tr>
            <th>Icon</th>
            <th>Category</th>
            <th>Name</th>
            <th>Ingredients</th>
            <th>Result</th>
            <th>Unlocked By</th>
        </tr>
        </thead>
        <tbody>
    <% for (var idx = 0; idx < uses.length; idx++) {
        var r = uses[idx];
    %>
    <% include partials/recipe.ejs %>
    <% } %>
        </tbody>
    </table>
</div>

<footer>
    <% include layout/footer.ejs %>
</footer>

</body>
</html>
