extends layout

block content
    .container
        table#table.table
            thead
                tr
                    th Name
                    th Mods
            tbody
                each pack in packInfos
                    tr
                        td(nowrap="nowrap")
                            a(href="/pack/#{ pack.name }")= pack.title
                        td= pack.mods.map(function(x) { return x.title; }).join(', ')
