extends layout

block content
    .container
        table#table.table
            thead
                tr
                    th Name
                    th Version
                    th Description
                    th Mods
            tbody
                each pack in packInfos
                    tr
                        td
                            a(href="/pack/#{ pack.name }")= pack.title
                        td= pack.version
                        td= pack.description
                        td= pack.mods.join(', ')
