extends layout

block content
    .container
        h2 Technology
        table#table.table
            thead
                tr
                    //th Icon
                    th Name
                    th Cost
            tbody
                each tech in technology
                    tr
                        //td!= embedImg('technology', tech.name, 'tech-img')
                        td
                            a(href="/pack/#{ modpack }/tech/#{ tech.name }")= tech.title
                        td
                            .tech-units
                                .tech-ingd
                                    each ingd in tech.unit.ingredients
                                        | #{ ingd[2] }x !{ embedItemPopover(ingd[1]) }
                                        = ' '
                                |  x #{ tech.unit.count }
