<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layout/head.ejs %>
</head>
<body>
<% include ../layout/header.ejs %>
<div class="container">
    <h2>Item Categories</h2>
    <h5 class="text-warning">This section is still very much in progress.</h5>

    <table class="table" id="table">
        <thead>
        <tr>
            <th>Icon</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
<%
for (var i = 0; i < itemcats.length; i++) {
    var icat = itemcats[i];
%>
        <tr>
            <td><%- embedImg(icat.icon_type, icat.icon_name) %></td>
            <td><a href="/pack/<%= modpack %>/itemcats/<%= icat.name %>"><%= icat.title %></a></td>
        </tr>
<% } %>
        </tbody>
    </table>
</div>

<footer>
    <% include ../layout/footer.ejs %>
</footer>

</body>
</html>
